.note-container {
  padding: 5px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:turquoise;
}

.note-title {
  color: #333;
  font-size: 1.5em;
  margin-top: 0;
}

.note-content {
  color: #666;
}

.note-date {
  color: #999;
  font-size: 0.8rem;
}

.delete-button {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  transition: background-color 0.3s;
  font-weight: bold;
  margin: 0 auto;
  margin-top: -6em;
  margin-right: 2em;
}

.delete-button:hover {
  background-color: #d32f2f; /* Darker red */
}